.content {
  padding: 4rem 8rem;
  width: 100%;
  height: fit-content;
}

.content h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--text-color);
}

.content-cards {
  display: flex;
  gap: 2rem;
}