*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --background-color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  color: var(--text-color);
  letter-spacing: -3.5px;
}

h5 {
  font-size: 1.6rem;
  color: var(--text-color);
}