*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c24c2;
  --secondary-color: #46d8c5;
  --paragraph-color: #cccccc;
  --text-color: #fff;
  --background-color: #000;
  --card-background: #1f1f1f;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  color: var(--text-color);
  letter-spacing: -3.5px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

h3 {
  font-size: 1.2rem;
  color: (--text-color);
}

h5 {
  font-size: 1.6rem;
  color: var(--text-color);
}

button {
  cursor: pointer;
}

/* Buttons */
.btn-primary {
  width: 8rem;
  height: 2rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 700;
  border: none;
  border-radius: .5rem;
  transition: all .2s ease;
}

.btn-primary:hover {
  width: 10rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-weight: 500;
  border-radius: 1rem;
}